
@font-face {
    font-family: MacFont;
    src: url('../fonts/system_san_francisco_display_thin-webfont.woff2') format('woff2'),
         url('../fonts/system_san_francisco_display_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body{
    height: 100%;
    background-color: rgb(238, 238, 238);
    font-family: MacFont;
    font-size: 20px;
}

footer{
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 17px;
}

.home{
  border-right: 1px solid #fff;
  padding-right: 3%;
}

hr {
    border-top: 1px solid #777777;
}

.a-with-pointer:hover{
  cursor: pointer;
}

.image-header{

  width: 100%;
  height: 79%;

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url(../images/mtb.jpg);
}

.layer{
   background-color: rgba(0, 0, 0, 0.1);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 79%;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(236, 20, 20);
    background-color: rgba(0,0,0,0.4);
    padding-top: 185px;
}


.model-content{
    background-color: rgb(238, 238, 238);
    margin: 5px auto;
    color: #0e0e0e;
    border-radius: 5px;
    /*border: 1px solid #888;*/
}

/*@media screen and (min-width: 992px){
  .model-content{
      background-color: rgb(238, 238, 238);
      margin: 5px auto;
      color: #0e0e0e;
      border-radius: 5px;
      width: 60%;
  }
}*/

@media screen and (max-width: 768px){
  .model-content{
      background-color: rgb(238, 238, 238);
      margin: 5px auto;
      color: #0e0e0e;
      border-radius: 5px;
      /*border: 1px solid #888;*/
  }
}

/*45%*/

.close{
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus{
    color: red;
    cursor: pointer;
}

.animate{
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom{
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom{
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.well-custom{
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  padding-top: 95px;
  background-color: #f5f5f5;
}

.well-custom-listing{
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
}

.well-custom.comment{
  padding-top: 20px;

}

#closing-date-header{
  margin-top: 35px;
  white-space: nowrap;
}

.modal-btn{
    width: 100%;
    height: 70px;
    color: rgb(14,14,14);
    background: transparent;
    border: 2px solid rgb(14,14,14);
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;
    line-height: 66px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 45px;
    transition: background 0.5s ease;
    transition: color 0.5s ease;
}
.modal-btn:hover{
    width: 100%;
    height: 70px;
    color: rgb(238,238,238);
    background: rgb(14,14,14);
    border: 2px solid rgb(14,14,14);
}

.modal-btn.listing{
    width: 185px;
    height: 68px;
}
.modal-btn:hover.listing{
    width: 185px;
    height: 68px;
    color: rgb(238,238,238);
    background: rgb(14,14,14);
    border: 2px solid rgb(14,14,14);
}

.alert{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-top: 45px;
}

#upcoming-races-header{
  margin: auto;
  padding-left: 50px;
}

.race-listing-details{
  text-align: left;
}

header nav{
  text-align: center;
  background: rgba(14,14,14,0.4);
}
header nav ul{
  margin: 0;
  padding: 1em;
  list-style-type: none;
}
header nav ul li{
  display: inline;
  margin-left: 1em;
}
header nav ul li:first-child{
  margin-left: 0;
}
header nav ul li ul{
  display: none;
}
a{
  color: #e9e9e9;
}
a:hover{
  color: #ababab;
  text-decoration: none;
}
a, a:hover{
  -o-transition: color 0.25s ease-in;
  -webkit-transition: color 0.25s ease-in;
  -moz-transition: color 0.25s ease-in;
  transition: color 0.25s ease-in;
}
a:focus { text-decoration: none; }
a:visited { text-decoration: none; }
a:active { text-decoration: none; }

a.non-nav{
  color:rgb(14, 14, 14);
}

a.non-nav:hover{
  color:rgb(0, 160, 195);
}

@media screen and (max-width: 768px){
    .colCenterText
  {
      text-align: center;
    }

    p.centerDesc
  {
        margin-left: 50%;
    }

}

/* Carosusel Fade instead of sliding*/
.carousel-fade .carousel-inner .item{
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function:linear;
}

.carousel-fade .carousel-inner .active{
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right{
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right{
  opacity: 1;
}

.carousel-fade .carousel-control{
  z-index: 2;
}
.fade-in{
  opacity: 0;
}


#header{
  margin: auto;
  max-width: 500px;
}

#search{
  /*width: 100%;*/
  padding-bottom: 13%;
  padding-top: 6%;
}


#content {
  padding-top: 40px;
  padding-left: 0px;
}

li.race-results {
    float: left;
}

.search-div{
  width: 100%;
}

.text-box{
  background-color: inherit;
  outline: none;
  border: 0;
  border-bottom: 1px solid rgb(166, 166, 166);
  width: 100%;
  height: 34px;
  font-size: 17px;
  font-weight: bolder;
  line-height: 1.42857143;
}

.search-heading{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  white-space: nowrap;
}

@media screen and (min-width: 992px) {
  .search-races{
    background-color: inherit;
    outline: none;
    border: 0;
    border-bottom: 1px solid rgb(166, 166, 166);
    width: 70%;
    font-size: 40px;
  }

  .search-races:hover{
    background-color: inherit;
    outline: none;
    border: 0;
    border-bottom: 1px solid;
    width: 70%;
  }

  .cmn-t-underline {
    position: relative;
    color: rgb(28, 28, 28);
  }
  .cmn-t-underline:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 3px;
    background-color: rgb(28, 28, 28);
    content: "";
    transition: width 0.2s;
  }
  .search-races.cmn-t-underline:hover {
    color: rgb(28, 28, 28);
  }
  .cmn-t-underline:hover:after {
    width: 70%;
  }
}

@media screen and (max-width: 991px) {
  .search-races{
    background-color: inherit;
    outline: none;
    border: 0;
    border-bottom: 1px solid rgb(166, 166, 166);
    width: 105%;
    font-size: 40px;
  }

  .search-races:hover{
    background-color: inherit;
    outline: none;
    border: 0;
    border-bottom: 1px solid;
    width: 105%;
  }

  .cmn-t-underline {
    position: relative;
    color: rgb(28, 28, 28);
  }
  .cmn-t-underline:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 3px;
    background-color: rgb(28, 28, 28);
    content: "";
    transition: width 0.2s;
  }
  .search-races.cmn-t-underline:hover {
    color: rgb(28, 28, 28);
  }
  .cmn-t-underline:hover:after {
    width: 105%;
  }
}

@media screen and (max-width: 767px) {
  .search-races{
    background-color: inherit;
    outline: none;
    border: 0;
    border-bottom: 1px solid rgb(166, 166, 166);
    width: 105%%;
    font-size: 40px;
  }

  .search-races:hover{
    background-color: inherit;
    outline: none;
    border: 0;
    border-bottom: 1px solid;
    width: 105%;
  }

  .cmn-t-underline {
    position: relative;
    color: rgb(28, 28, 28);
  }
  .cmn-t-underline:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 3px;
    background-color: rgb(28, 28, 28);
    content: "";
    transition: width 0.2s;
  }
  .search-races.cmn-t-underline:hover {
    color: rgb(28, 28, 28);
  }
  .cmn-t-underline:hover:after {
    width: 105%;
  }
}

@media screen and (max-width: 425px) {
  .search-races{
    background-color: inherit;
    outline: none;
    border: 0;
    border-bottom: 1px solid rgb(166, 166, 166);
    width: 210%;
    font-size: 40px;
    margin-left: -50px;
  }

  .search-races:hover{
    background-color: inherit;
    outline: none;
    border: 0;
    border-bottom: 1px solid;
    width: 210%;
    margin-left: -50px;
  }

  .cmn-t-underline {
    position: relative;
    color: rgb(28, 28, 28);
  }
  .cmn-t-underline:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 3px;
    background-color: rgb(28, 28, 28);
    content: "";
    transition: width 0.2s;
    margin-left: -50px;
  }
  .search-races.cmn-t-underline:hover {
    color: rgb(28, 28, 28);
  }
  .cmn-t-underline:hover:after {
    width: 210%;
  }

  .search-heading{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 17px;
    white-space: nowrap;
    margin-left: -100px;
  }
}

@media screen and (max-width: 320px) {
  .search-races{
    background-color: inherit;
    outline: none;
    border: 0;
    border-bottom: 1px solid rgb(166, 166, 166);
    width: 275%;
    font-size: 40px;
  }

  .search-races:hover{
    background-color: inherit;
    outline: none;
    border: 0;
    border-bottom: 1px solid;
    width: 275%;
  }

  .cmn-t-underline {
    position: relative;
    color: rgb(28, 28, 28);
  }
  .cmn-t-underline:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 3px;
    background-color: rgb(28, 28, 28);
    content: "";
    transition: width 0.2s;
  }
  .search-races.cmn-t-underline:hover {
    color: rgb(28, 28, 28);
  }
  .cmn-t-underline:hover:after {
    width: 275%;
  }

  .search-heading{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 15px;
    white-space: nowrap;
    margin-left: -100px;
  }
}

#upcoming-races{
  background-color: rgb(255, 255, 255);
  padding-bottom: 30px;
  padding-top: 15px;
}

@media screen and (max-width: 991px) {
  .im-centered {
    margin: auto;
    max-width: 500px;
    padding-left: 14%;
  }
}

@media screen and (max-width: 1153px) {
  .event-box{
    width: 76%;
    height: 80px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 1px;
    margin-top: 10px;
    border-bottom: 1px solid
  }



}

@media screen and (max-width: 991px) {
  .event-box{
    width: 70%;
    height: 80px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 1px;
    margin-top: 10px;
    border-bottom: 1px solid
  }
  .spacing{
    /*display: block;*/

    border-left: 1px solid;
    height: 15%;
    padding-top: 5%;
    margin-top: 5%;
    padding-left: 40%;
    margin-left: 36%;
  }
}

@media screen and (min-width: 1153px) {
.event-box{
    width: 70%;
    height: 80px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 1px;
    margin-top: 10px;
    border-bottom: 1px solid;
  }
  .spacing{
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .spacing{
    display: none;
  }
}

.race-name{
  position: relative;
  left: 50px;
  top: -14px;
  white-space: nowrap;
}
.race-day{
  position: absolute;
  left: 15px;
  /*font-weight:900;*/
  font-size: 30px;
  color: rgb(150, 150, 150);
}
#mtb-table{
  /*margin-left: 50%;*/
}
#road-table{
  /*margin-left: -30%;*/
}

.race-month{
  position: absolute;
  display: block;
  left: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  color: rgb(191, 191, 191);
}

.race-day em{
  font-style:normal;
  font-weight: normal;
  display: block;
  font-size: 14px;
}

.close-date {
  position: absolute;
  left: 75px;
  font-weight: 900;
  color: rgb(255, 182, 182);
  padding-top: 38px;
}
.header-img{
  position: relative;
  width: 163%;
  height: 100%;
  right: 50%;
}

.header-img2{
  position: relative;
  width: 163%;
  left: 50%;
}

.img-container{
  float: left;
}
.big{
  font-size: 50px;
}


.border-bottomMTB{
  border-bottom: 1px solid;
  width: 41%;
  border-color: rgb(0, 160, 195);
}

.border-bottomROAD{
  border-bottom: 1px solid;
  width: 45%;
  border-color: rgb(0, 160, 195);
}

.error-text{
  color: red;
}

.getPreview{
  /*color: red;*/
}

.empty-button{
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.reply-text{
  font-size: 20px;
  position: absolute;
  right: 40px;
}

.reply-form{
  display: none;
}

.table-text{
  color:rgb(51, 51, 51)
}

.fullDetails {
	display:none;
	position:absolute;
	z-index:1;
	background:rgba(0,0,0,0.8);
	color:#fff;
	padding:10px;
	width:280px;
	margin-right:10px;
	border-radius:8px;
}

#welcome{
  border-top: 5px solid rgb(91, 91, 91);
  padding-top: 10px;
}

.cart-window{
  /*background-color: rgb(186, 186, 186);
  width: 200px;
  margin-left: 20px;
  padding: 20px 20px 20px 20px;
  position: absolute;
  display: none;*/
  background-color: #FFFFFF;
  border: 1px solid #999999;
  cursor: default;
  display: none;
  margin-top: 15px;
  position: fixed;
  text-align: left;
  width: 394px;
  z-index: 50;
  padding: 25px 25px 29px;
  margin-top: 90px;
  left: 50%;
}
#checkoutBtn{
  margin: 5px 5px 5px 5px;
}

#remove-item{
  padding: 0;
  border: none;
  background: none;
  outline: none;
}
#remove-item:hover{
  font-weight: bolder;
}

.profile-img{
  margin-top: 10px;
}

#user-races{
  display: none;
}

#profile-customize{
  display: none;
}

@media screen and (min-width: 769px){
  .img{
    border-radius: 100%;
    margin-bottom: 10%;
    width: 400px;
    height: 400px;
    margin-left: -20px;
  }
}

@media screen and (max-width: 768px){
  .img{
    border-radius: 100%;
    margin-bottom: 10%;
    width: 400px;
    height: 400px;
    margin-left: -90px;
  }
}

@media screen and (max-width: 425px){
  .img{
    border-radius: 100%;
    margin-bottom: 25%;
    width: 300px;
    height: 300px;
    margin-left: -113px;
  }
}
/*@media screen and(min-width: 1200px){
  .img{
    max-width: 100%;
    width: auto;
    vertical-align: middle;
    border: 0;
    margin-bottom: 10%;
  }
}

@media screen and(max-width: 1199px){
  .img{
    width: auto;
    vertical-align: middle;
    border: 0;
    margin-bottom: 10%;
  }
}*/
.profile-header.page-header{
  border-bottom: none;
}

.raceInfo
{
    padding-left: 30px;
}
#seeMoreBtn
{
    width: 100px;
    height: 100px;
}

#site-footer
{
    background-color: #000000;
    margin-top: 300px;
}

#btnAddEvent
{
  position: relative;
  padding-bottom: 10%;
  padding-left: 5%;
/* top: -80px; */
}

.container #calander
{
  /*background-color: rgba(255, 0, 0, 0.29);*/
  margin-left: 50px;
}

#priceTextBox
{
    display: none;
}

#map
{
    padding: 20px 20px 20px 0;
    width:400px;
    height:400px;
    border-radius: 100%;
    margin-left: 40px;
}

@media screen and (max-width: 375px){
  #map{
    padding: 20px 20px 20px 0;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin-left: -13px;
  }
}

@media screen and (min-width: 992px){
  #mtbMap
  {
      padding: 20px 20px 20px 0;
      width:400px;
      height:400px;
      border-radius: 100%;
      margin-top: 90px;
      margin-left: 45px;
  }

  #roadMap
  {
      padding: 20px 20px 20px 0;
      width:400px;
      height:400px;
      border-radius: 100%;
      margin-top: 90px;
      margin-left: -11px;
  }

}

@media screen and (max-width: 992px){

  #mtbMap
  {
      padding: 20px 20px 20px 0;
      width:400px;
      height:400px;
      border-radius: 100%;
      margin-top: 90px;
      margin-left: 175px;
  }

  #roadMap
  {
      padding: 20px 20px 20px 0;
      width:400px;
      height:400px;
      border-radius: 100%;
      margin-top: 90px;
      margin-left: 175px;
  }
}

@media screen and (max-width: 618px){

  #mtbMap
  {
      padding: 20px 20px 20px 0;
      width:400px;
      height:400px;
      border-radius: 100%;
      margin-top: 90px;
      margin-left: 45px;
  }

  #roadMap
  {
      padding: 20px 20px 20px 0;
      width:400px;
      height:400px;
      border-radius: 100%;
      margin-top: 90px;
      margin-left: 45px;
  }
}

.page-header
{
    border-color: #8e8e8e;
}

p.eventDesc
{
    font-size: 20px;
    margin-top: 8%;
}
.regBtn
{
  width: 298px;
  height: 70px;
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
  line-height: 66px;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 45px;
  /*width: 74%;*/
}

@media screen and (max-width: 991px) {
  .regBtn
  {
    width: 298px;
    height: 70px;
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;
    line-height: 66px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 45px;
    width: 74%;
  }
}
.regBtn:hover
{
    text-decoration: none;
    color: #ababab
}

.see-more{
  margin: 0 0 0 0;
}
.carousel, .item, .active{
    height: 100%;
}

.carousel-inner{
    height: 80%;
}

.full-width{
   /*margin-top: 50px;*/
   width: 100%;
}
.carousel-caption{
    position: absolute;
    top: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}

.carousel-indicators{
    bottom: 200px;
}

/* The height of the carousel gradient*/
.carousel-control.left, .carousel-control.right{
    /*padding-top: 30px;*/
    height: 80%;
}

#myCarousel{
  z-index: 0;
}
/* Background images are set within the HTML using inline CSS, not here */

.fill{
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.fill-sign-up{
  width: 100%;
  height: 73%;
  background-position: center;
}

.navbarOverCarousel{
    position:absolute;
    z-index:10;
    width:100%;
}

.navbar{
    background-color: rgba(14, 14, 14, 0.4);
    border-style: none;
}

.navbar-inverse .navbar-toggle{
    border-color: rgba(0, 0, 0, 0);
}
.navbar-collapse{
  color:red;
}
.dropdown-menu{
    background-color: rgba(14, 14, 14, 1);
    width: 100px;
    height: 300px;
    /*display: none;*/
    /*text-color*/
}

#fullDropdown{
    display: none;
}

.navbar li a{
    margin-right: 20px;
}

ul{
    list-style: none;
}

#navButton{
  margin: 0;
  position: absolute;
  top: 121%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  color:rgba(255, 2555, 255, 1);
}


@media (min-width: 768px) and (max-width: 1053px) {
  .navbar-collapse.collapse {
      display: none !important;
      color:red;
  }
  .navbar-collapse.collapse.in {
      display: block !important;
  }
  .navbar-header .collapse, .navbar-toggle {
      display:block !important;
  }
  .navbar-header {
      float:none;
  }
}

/*@media screen and (min-width: 792px) and (max-width: 1000px)
{
  #navButton
  {
      position: fixed;
      left: 40.5vw;
  }
}

@media screen and (min-width: 1001px)
{
  #navButton
  {
      position: fixed;
      left: 46.5vw;
  }
}*/
